*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: -apple-system, Helvetica Neue, sans-serif;
  background-color: #f0f0f0;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* CARD */
.card {
  position: relative;
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;

  /* Allow floating elements */
  overflow: visible;

  box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
}

/* IMAGE */
.card img {
  width: 180%;
  max-width: none;
  margin-left: -40%;
  margin-bottom: 30px;
}

/* TITLE */
.card h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
  line-height: 1.1;
}

/* DESCRIPTION */
.card p {
  margin-bottom: 1.5em;
  color: #666;
}

/* PRICE CIRCLE */
.prize {
  position: absolute;
  top: -30px;
  left: -30px;

  width: 100px;
  height: 100px;
  background: #000;
  color: #fff;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
}

/* BUTTON */
.card button {
  position: absolute;
  bottom: -30px;
  right: 30px;

  padding: 1.75em 3.5em;
  background-color: #cf092c;
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-weight: 700;
}
